<a href="https://colab.research.google.com/github/Dohun-Im/Machine_Learning/blob/master/%EC%9B%90%ED%95%AB%EB%9D%BC%EB%B2%A8%EC%9D%B8%EC%BD%94%EB%8D%94.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 라벨링을 1,0으로 구분하면 경우에 따라 컬럼이 많이 늘어나서 메모리 상으로 비효율적

In [ ]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd

In [ ]:
data = pd.Series(['apple','summer','spring'])
data

0     apple
1    summer
2    spring
dtype: object

In [ ]:
encoder = LabelEncoder()
encoder.fit(data) #시리즈의 값들이 키테고리의 성격을 가진다.

LabelEncoder()

In [ ]:
data

0     apple
1    summer
2    spring
dtype: object

In [ ]:
target = pd.Series(['apple','summer','summer','spring','spring'])
target

0     apple
1    summer
2    summer
3    spring
4    spring
dtype: object

In [ ]:
encoder.transform(target)

array([0, 2, 2, 1, 1])

In [ ]:
type(target)

pandas.core.series.Series

In [ ]:
target2 = encoder.transform(target)
target2

array([0, 2, 2, 1, 1])

In [ ]:
type(target2)

numpy.ndarray

In [ ]:
target3 = encoder.inverse_transform(target2)
target3

array(['apple', 'summer', 'summer', 'spring', 'spring'], dtype=object)

In [ ]:
# 원핫 레코딩

In [ ]:
data2 = pd.Series(['apple','summer','summer','spring','spring'])
data2

0     apple
1    summer
2    summer
3    spring
4    spring
dtype: object

In [ ]:
data3 = pd.get_dummies(data2)

In [ ]:
data3

   apple  spring  summer
0      1       0       0
1      0       0       1
2      0       0       1
3      0       1       0
4      0       1       0

In [ ]:
#====================

In [ ]:
# 2개 컬럼

In [ ]:
words = pd.Series(['apple','summer','summer','spring','spring'])
hobby = pd.Series(['book','run','talk','coffee','song'])

In [ ]:
df = pd.DataFrame({'words': words, 'hobby': hobby})
df

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [ ]:
columns = df.columns
columns

Index(['words', 'hobby'], dtype='object')

In [ ]:
encoder2 = LabelEncoder()

In [ ]:
for col in columns:
    df[col] = encoder2.fit_transform(df[col])

In [ ]:
df

   words  hobby
0      0      0
1      2      2
2      2      4
3      1      1
4      1      3

In [ ]:
#==================================

In [ ]:
df2 = pd.DataFrame({"words" : ['apple', 'summer', 'summer', 'spring', 'spring'], 
                    "hobby" : ['book', 'run','talk','coffee','song']})
df2

    words   hobby
0   apple    book
1  summer     run
2  summer    talk
3  spring  coffee
4  spring    song

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      object
 1   hobby   5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [ ]:
col = df2.columns

In [ ]:
for c in col:
    df2[c] = df[c].astype('category')

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   words   5 non-null      category
 1   hobby   5 non-null      category
dtypes: category(2)
memory usage: 482.0 bytes

In [ ]:
pd.get_dummies(df2)

   words_0  words_1  words_2  hobby_0  hobby_1  hobby_2  hobby_3  hobby_4
0        1        0        0        1        0        0        0        0
1        0        0        1        0        0        1        0        0
2        0        0        1        0        0        0        0        1
3        0        1        0        0        1        0        0        0
4        0        1        0        0        0        0        1        0